h1,
h2,
h3 {
    font-family: 'Young Serif', serif;
}

h2 {
    font-weight: 400;
}


* {
    font-family: 'Outfit' sans-serif;
    ;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: #f3e5d8;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

}

.receta {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    flex-grow: 1;
}

.receta__imagen {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.tiempo {
    background-color: #fff5fa;
    padding: 20px;
    border-radius: 15px;
    margin: 20px 0;
}

.tiempo h3 {
    color: #7b284f;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.tiempo ul {
    list-style: inside;
    padding: 0;
    margin: 0;
}

.tiempo li {
    font-size: 14px;
    margin-bottom: 8px;
    color: #5f574e;
}

.tiempo li strong {
    color: #000000;
}

.ingredientes {
    margin-bottom: 25px;
}

.ingredientes h2 {
    color: #854632;
    font-size: 25px;
    margin-bottom: 10px;
}

.ingredientes ul {
    list-style: inside;
    padding-left: 0;
}

.ingredientes li {
    font-size: 14px;
    margin-bottom: 15px;
    color: #5f574e;
}

.ingredientes li::marker {
    color: #854632;
    font-weight: bold;
}

.instrucciones {
    margin-bottom: 25px;
    border-top: 1px solid #dcdcdc;
    padding-top: 20px;
}

.instrucciones h2 {
    font-family: 'Young Serif', serif;
    color: #854632;
    font-size: 20px;
    margin-bottom: 10px;
}

.instrucciones ol {
    padding-left: 20px;
    counter-reset: step;
}

.instrucciones li {
    font-size: 14px;
    margin-bottom: 12px;
    color: hsl(30, 10%, 34%);
    line-height: 16px;
}

.instrucciones li::marker {
    font-weight: bold;
    color: #854632;
}

.instrucciones li strong {
    font-weight: bold;
    color: inherit;
}

.nutricion h2 {
    font-family: 'Young Serif', serif;
    color: hsl(14, 45%, 36%);
    font-size: 20px;
    margin-bottom: 10px;
}

.nutricion p {
    font-size: 14px;
    color: hsl(30, 10%, 34%);
    margin-bottom: 15px;
}

.nutricion table {
    width: 100%;
    border-collapse: collapse;
}

.nutricion td {
    padding: 10px 0;
    font-size: 14px;
    color: hsl(30, 10%, 34%);
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.nutricion td:last-child {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: #5f574e;
    margin-top: 40px;
}